extends ../layout/main

block variables
	- var title = 'Главная страница'

block content
	// Секция Навигации
	include ../section/navigation
	// Секция Обо мне
	include ../section/about
	// Секция Что делаю
	include ../section/doing
	// Секция Кухня
	include ../section/kitchen
	// Секция Работа
	include ../section/works
	// Секция Лэндинг
	include ../section/landing
	// Секция Джир Апп
	include ../section/zhirapp
	// Секция Апп
	include ../section/app
	// Секция Диалог
	include ../section/dialog
	// Секция Контакты
	include ../section/contact