// ХЕЛПЕРЫ
@import 'base/fonts.styl'
@import 'base/vars.styl'
@import 'base/mixins.styl'


// Общие стили
@import 'base/settings.styl'
@import 'base/general.styl'


// Секции

/* Стили секции header */
@import 'section/header.styl'
/* Стили секции header */

/* Стили секции navigation */
@import 'section/navigation.styl'
/* Стили секции navigation */

/* Стили секции about */
@import 'section/about.styl'
/* Стили секции about */

/* Стили секции doing */
@import 'section/doing.styl'
/* Стили секции doing */

/* Стили секции kitchen */
@import 'section/kitchen.styl'
/* Стили секции kitchen */

/* Стили секции works */
@import 'section/works.styl'
/* Стили секции works */

/* Стили секции landing */
@import 'section/landing.styl'
/* Стили секции landing */

/* Стили секции zhirapp */
@import 'section/zhirapp.styl'
/* Стили секции zhirapp */

/* Стили секции app */
@import 'section/app.styl'
/* Стили секции app */

/* Стили секции dialog */
@import 'section/dialog.styl'
/* Стили секции dialog */

/* Стили секции footer */
@import 'section/footer.styl'
/* Стили секции footer */


// Компоненты
@import "common/common.styl"