mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="app/img/svg/symbol/sprite.svg#" + name)

-
- var getRandomInt = function(min, max) {
-		var result = Math.random() * (max - min) + min;
-		result = result.toFixed(2); 
-   return result;
- }
