// ОБЩИЕ СТИЛИ

.container 
	width 100%
	max-width 100%
	margin 0 auto


.italic
	font-style italic

.underline
	text-decoration underline
	&:hover
		text-decoration none

// футер к низу

body 
	display flex
	flex-direction column


.main 
	flex auto
