.btn
  display flex
  justify-content center
  align-items: center
  padding 13px 0
  color black-color
  font-weight 300
  line-height 36px
  text-transform uppercase
  letter-spacing 3.6px
  background white
  width 100%
  &--dark
    color: white
    background black-color