.nav__list
  display flex
  align-items: flex-start
  @media (max-width screen-md)
    flex-direction column

.nav__item
  &+&
    margin-left 60px
  for i in 1..4
    &:nth-child({i})
      margin-top (105*i)px
  @media (max-width screen-lg)
    &+&
      margin-left 15px
  @media (max-width screen-md)
    &:nth-child(1)
      margin-top 0
    &+&
      margin-left 0
      margin-top 15px

.nav__link
  display flex
  color #280000
  font-weight 300
  text-transform uppercase
  letter-spacing 0.9px
  &:hover
    color: black
    .nav__name
      &:before
        background-color accent-color
  @media (max-width screen-md)
    flex-direction column

.nav__name
  writing-mode vertical-lr
  transform rotate(180deg)
  margin-left 10px
  display flex
  &:before
    content ''
    display block
    width 1px
    height 107px
    background-color rgba(accent-color, 0.47)
    margin-left -5px
    @extend .trs
  @media (max-width screen-md)
    writing-mode lr
    transform none
    display flex
    flex-direction column-reverse
    &:before
      width 107px
      height 1px
      margin-left 0

.nav__counter
  align-self flex-end
  margin-left 10px