.app__wrap
  display flex

.app__content
  padding 45px 0 40px
  width 100%
  max-width 781px
  flex none
  display flex
  align-items center
  flex-direction column
  color #000000

.app__info
  max-width 336px

.app__title
  margin-bottom 20px
  font-size 24px
  font-weight 300
  text-transform uppercase
  letter-spacing 1.8px

.app__text
  font-size 16px
  font-weight 200
  line-height 24px
  letter-spacing 0.5px

.app__link
  max-width 335px
  margin-top 30px