.landing__wrap
  display flex

.landing__img
  width 100%
  display flex
  justify-content center
  align-items: center
  background #fff
  max-width perc(782)
  flex none

.landing__content
  background black-color
  color #fff
  width 100%
  max-width perc(584)
  padding 172px 104px 148px 105px

.landing__info
  max-width 335px

.landing__title
  font-size 24px
  font-weight 300
  text-transform uppercase
  letter-spacing 1.8px
  margin-bottom 35px
  padding-left 11px

.landing__text
  font-weight 200
  line-height 27px
  letter-spacing 0.7px
  &+&
    margin-top 25px

.landing__link
  margin-top 50px
  max-width 335px