.navigation
  position relative
  &:before
    content ''
    display block
    width 50%
    height 100%
    position absolute
    top 0
    left 0
    background-image linear-gradient(to top, #e0545d 0%, #e05475 100%)
    z-index -1
  &.viewed
    .navigation__block  
      animation fade .3s forwards
  
  .container
    position relative


.navigation__wrap
  width 50%
  margin-left auto
  padding-top 25px

.navigation__title
  display flex
  flex-direction row
  position absolute
  top -5px
  bottom 0
  left 50%
  transform translateX(-54%)
  width: 100%
  justify-content: center

.navigation__block
  writing-mode vertical-lr
  transform rotate(180deg)
  color #ffffff
  font-size 123px
  font-weight 900
  text-transform uppercase
  letter-spacing -0.23px
  text-align right
  opacity 0
  &:nth-child(1)
    width: 105px
  &:nth-child(2)
    width: 95px
  &:nth-child(3)
    width: 85px
  &:nth-child(4)
    width: 75px
  &:nth-child(n+5)
    color accent-color
    margin-left -5px
  &:nth-child(n+12)
    margin-left: -3px

.navigation__menu
  position absolute
  top 0
  right 20px

sizes = {
  '1': 107px
  '2': 95px
  '3': 81.2px
  '4': 66px
  '5': 53.6px
  '6': 43.5px
  '7': 35.4px
  '8': 28.75px
  '9': 23.36px
  '10': 19px
  '11': 15.42px
  '12': 12.5px
  '13': 10.18px
  '14': 8.27px
  '15': 6.72px
  '16': 5.46px
  '17': 4.44px
}

for index, size in sizes
  .navigation__block--{index}
    font-size size