section.app
  .container
    .app__wrap
      .app__content
        .app__info
          h2.app__title= content.app.title
          p.app__text The first mobile smart application, that can help you control all you pets. You have a&nbsp;lot&nbsp;of cats? ZHIR help you to feed them in&nbsp;right time.
          a.btn.btn--dark.app__link(href=content.app.link.href target="_blank")= content.app.link.text
      .app__img
        img(src=content.app.img.src, alt=content.app.img.alt)