section.dialog
  .container
    .dialog__wrap
      .dialog__img
      .dialog__content
        .dialog__list
          .dialog__inner
            each val in content.dialog.list
              span.wow.fadeInUp.dialog__item= val["item"]
        .dialog__info
          h2.dialog__title= content.dialog.title
          p.dialog__text= content.dialog.text
          a.btn.btn--dark.dialog__link.js-scroll-to(href=content.dialog.link.href)= content.dialog.link.text