section.zhirapp
  .container
    .zhirapp__wrap
      .zhirapp__img
        img(src=content.zhirapp.img.src, alt=content.zhirapp.img.alt)
      .zhirapp__preview
        img(src=content.zhirapp.preview.src, alt=content.zhirapp.preview.alt)